{%extends 'layout.html'%}
{%block body%}
<title>Edit Librarian Profile</title>
<style>
    /* Basic CSS for layout */
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f0f0f0;
        margin: 0;
        padding: 20px;
    }
    .flash-messages {
        position: fixed;
        top: 10px; /* Adjust the top spacing as needed */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%);
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 1px;
        z-index: 1000;
        text-align: center;
    }
    .flash-message {
        margin-bottom: 10px;
    }
    .container {
        max-width: 600px;
        margin: auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    form {
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    input[type="text"], input[type="email"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
</head>
<body>

<div class="content">
    
<div>

    <h1>Edit Librarian Profile</h1>

    <form action="{{ url_for('librarian.edit_librarian_profile', librarian_id=librarian[0]) }}" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ librarian[1] }}" required>
        
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ librarian[2] }}" required>
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ librarian[3] }}" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ librarian[4] }}" required>
        
        <input type="submit" value="Update Profile">
    </form>
</div>
</body>
{%endblock%}